<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.hualuomoli.demo">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <activity android:name=".MainActivity" />
        <activity android:name=".logger.LoggerActivity" />
        <activity android:name=".security.SecurityActivity" />
        <activity android:name=".async.AsyncActivity" />
        <activity android:name=".timer.TimerActivity" />
        <activity android:name=".password.PasswordActivity" />
    </application>

</manifest>